.titre{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: center;
    position: absolute;
    
   
    top:4px;
    
}
.card-title{

    max-height: 200px; /* Adjust the maximum height */
     object-fit: cover;
}
.col-8 {
    display:flex;
    flex-direction:column;
    

}
.card{
    display: flex;
    


}
.formulaire{
    padding: 2%;
    background-color: rgba(242, 232, 206, 0.612);
    margin: 5%;
}